# **ğŸ  ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ Baseline code**
> ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì˜ˆì¸¡ ëŒ€íšŒì— ì˜¤ì‹  ì—¬ëŸ¬ë¶„ í™˜ì˜í•©ë‹ˆë‹¤! ğŸ‰     
> ì•„ë˜ baselineì—ì„œëŠ” RandomForestë¥¼ í™œìš©í•´ ML ë°©ë²•ë¡ ë“¤ì„ ì‹¤ì œ ëŒ€íšŒì— ì ìš©í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
> ê°•ì˜ëŠ” google colabìœ¼ë¡œ ì‹¤í–‰í•˜ì˜€ê¸°ì— ì•„ë˜ì˜ ë² ì´ìŠ¤ë¼ì¸ ì½”ë“œì™€ëŠ” ì¼ë¶€ ì°¨ì´ê°€ ìˆì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

## Contents
- Library Import
- Data Load
- Data Preprocessing
- Feature Engineering
- Model Training
- Inference
- Output File Save

## 1. Library Import
- í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [ ]:
!pip install eli5==0.13.0

# í•œê¸€ í°íŠ¸ ì‚¬ìš©ì„ ìœ„í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ì…ë‹ˆë‹¤.
!apt-get install -y fonts-nanum

In [18]:
# visualization
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', # ttf íŒŒì¼ì´ ì €ì¥ë˜ì–´ ìˆëŠ” ê²½ë¡œ
    name='NanumBarunGothic')                        # ì´ í°íŠ¸ì˜ ì›í•˜ëŠ” ì´ë¦„ ì„¤ì •
fm.fontManager.ttflist.insert(0, fe)              # Matplotlibì— í°íŠ¸ ì¶”ê°€
plt.rcParams.update({'font.size': 10, 'font.family': 'NanumBarunGothic'}) # í°íŠ¸ ì„¤ì •
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns

# utils
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
import warnings;warnings.filterwarnings('ignore')

# Model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

import eli5
from eli5.sklearn import PermutationImportance

pd.set_option('display.float_format', '{:.6f}'.format)

## 2. Data Load

#### 2.1. ë°ì´í„° ë¡œë“œ

In [ ]:
import os
os.getcwd()

### dataset_2 ì‹œì‘

In [189]:
concat = pd.read_csv('../data/base_dataset_3.csv')

concat[concat['is_test'] == 1].shape

(9272, 26)

In [190]:
concat.shape

(1128094, 26)

In [158]:
concat[concat['is_test'] == 1].head()

,ë²ˆì§€,ë³¸ë²ˆ,ë¶€ë²ˆ,ì „ìš©ë©´ì,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,target,is_test,ì£¼ì†Œ,...,êµ¬,ë™,ê°•ë‚¨ì—¬ë¶€,ì‹ ì¶•ì—¬ë¶€,ê±´ì¶•ë©´ì,ì—°ë©´ì,ëŒ€ì§€ë©´ì,ê±´íìœ¨,ìš©ì ìœ¨,í‰ê· ì¸µìˆ˜
1118822,658-1,658,1,79.970000,26,5,1987,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,ê°•ë‚¨êµ¬,ê°œí¬ë™,1,0,4551.330000,22305.930000,171357.334166,297.555783,3143.834230,4.900970
1118823,651-1,651,1,108.201700,15,10,2021,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 651-1,...,ê°•ë‚¨êµ¬,ê°œí¬ë™,1,1,2706.031700,31893.018900,164240.992757,297.402886,3140.519263,11.785900
1118824,652,652,0,161.000000,28,15,1984,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 652,...,ê°•ë‚¨êµ¬,ê°œí¬ë™,1,0,4484.940000,61999.080000,183006.694768,299.033944,3163.697455,13.823837
1118825,652,652,0,133.460000,10,14,1984,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 652,...,ê°•ë‚¨êµ¬,ê°œí¬ë™,1,0,4484.940000,61999.080000,183006.694768,299.033944,3163.697455,13.823837
1118826,652,652,0,104.430000,18,6,1984,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 652,...,ê°•ë‚¨êµ¬,ê°œí¬ë™,1,0,4484.940000,61999.080000,183006.694768,299.033944,3163.697455,13.823837

In [23]:
# gis = pd.read_csv('../data/gisê±´ë¬¼ì •ë³´_fixed.csv')

In [24]:
# change_col = ['ê±´ì¶•ë©´ì ', 'ì—°ë©´ì ', 'ëŒ€ì§€ë©´ì ', 'ê±´íìœ¨', 'ìš©ì ìœ¨', 'í‰ê· ì¸µìˆ˜']

# # concat.drop(columns='í‰ê· ì¸µìˆ˜', inplace=True)

# congis = concat.drop(columns=change_col)
# congis.set_index('ì£¼ì†Œ', inplace=True)

# gis.set_index('ID', inplace=True)

# for col in change_col:
#     congis[col] = congis.index.map(gis[col])

# congis.reset_index(inplace=True)

# concat = congis

In [ ]:
# congis.columns

In [ ]:
# con_temp = concat[concat['is_test'] == 1]
# con_temp.head(10)

In [25]:
# # ì£¼ì†Œì •ë ¬ í›„ ê²°ì¸¡ì¹˜ ì±„ì›€

# congis = concat.sort_values('ì£¼ì†Œ')

# col = ['ê±´ì¶•ë©´ì ', 'ì—°ë©´ì ', 'ëŒ€ì§€ë©´ì ', 'ê±´íìœ¨', 'ìš©ì ìœ¨', 'í‰ê· ì¸µìˆ˜']
# congis[col] = congis[col].interpolate(method='linear', axis=0)

# congis.sort_index(inplace=True)

# # con_temp['ê±´íìœ¨'].describe()
# concat = congis

In [ ]:
# congis['ì—°ë©´ì '].describe()

In [ ]:
# con_temp = concat[concat['is_test'] == 1]
# con_temp.head(10)

In [191]:
concat['ê³„ì•½ì›”'] = concat['ê³„ì•½ì›”'].apply(lambda x: f'{x:02d}')

In [192]:
concat['ê³„ì•½ì›”'].head()

0    12
1    12
2    12
3    01
4    01
Name: ê³„ì•½ì›”, dtype: object

In [194]:
concat['ê³„ì•½ë…„ì›”'] = concat['ê³„ì•½ë…„'].astype(str) + '' + concat['ê³„ì•½ì›”'].astype(str)

interest = pd.read_csv('../data/á„’á…¡á†«á„€á…®á†¨á„€á…µá„Œá…®á†«á„€á…³á†·á„…á…µ07-23.csv')

interest['ë‚ ì§œ'] = interest['ë‚ ì§œ'].astype(str)

interest = interest.drop_duplicates(subset=['ë‚ ì§œ'], keep='first')

interest['ê³„ì•½ë…„ì›”'] = interest['ë‚ ì§œ'].str[:6]
interest.drop(columns = 'ë‚ ì§œ', inplace = True)

In [196]:
concat['ê³„ì•½ë…„ì›”'] = concat['ê³„ì•½ë…„ì›”'].astype(str)

concat_temp = pd.merge(concat, interest, on='ê³„ì•½ë…„ì›”', how='left', suffixes=('_A', '_B'))

In [195]:
concat_temp

0    201712
1    201712
2    201712
3    201801
4    201801
Name: ê³„ì•½ë…„ì›”, dtype: object

In [186]:
# ê¸ˆë¦¬ë°ì´í„°ë¥¼ ë„£ìŠµë‹ˆë‹¤



concat['ê³„ì•½ë…„ì›”'] = concat['ê³„ì•½ë…„'].astype(str) + '' + concat['ê³„ì•½ì›”'].astype(str)

interest = pd.read_csv('../data/á„’á…¡á†«á„€á…®á†¨á„€á…µá„Œá…®á†«á„€á…³á†·á„…á…µ07-23.csv')

interest['ë‚ ì§œ'] = interest['ë‚ ì§œ'].astype(str)

interest = interest.drop_duplicates(subset=['ë‚ ì§œ'], keep='first')

interest['ê³„ì•½ë…„ì›”'] = interest['ë‚ ì§œ'].str[:6]
interest.drop(columns = 'ë‚ ì§œ', inplace = True)
# interest['ê³„ì•½ë…„ì›”'].fillna('-1')
# interest['ê³„ì•½ë…„ì›”'] = interest['ê³„ì•½ë…„ì›”'].astype(str)
concat['ê³„ì•½ë…„ì›”'] = concat['ê³„ì•½ë…„ì›”'].astype(str)

concat_temp = pd.merge(concat, interest, on='ê³„ì•½ë…„ì›”', how='left', suffixes=('_A', '_B'))

concat_temp.drop(columns='ê³„ì•½ë…„ì›”', inplace=True)
# concat = concat_temp

In [160]:
concat[concat['is_test'] == 1].shape

(9272, 28)

In [188]:
concat_temp.shape

(1174885, 27)

In [162]:
concat

Index(['ë²ˆì§€', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ì „ìš©ë©´ì ', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'target', 'is_test', 'ì£¼ì†Œ',
       'x', 'y', 'ê³„ì•½ë…„', 'ê³„ì•½ì›”', 'ê±°ë˜ì·¨ì†Œì—¬ë¶€', 'ê±°ë˜ì¼ê±´ë¬¼ì—°ì‹', 'êµ¬', 'ë™', 'ê°•ë‚¨ì—¬ë¶€', 'ì‹ ì¶•ì—¬ë¶€',
       'ê±´ì¶•ë©´ì ', 'ì—°ë©´ì ', 'ëŒ€ì§€ë©´ì ', 'ê±´íìœ¨', 'ìš©ì ìœ¨', 'í‰ê· ì¸µìˆ˜', 'ê³„ì•½ë…„ì›”', 'ê¸°ì¤€ê¸ˆë¦¬'],
      dtype='object')

In [161]:
concat[concat['is_test'] == 1].head()

,ë²ˆì§€,ë³¸ë²ˆ,ë¶€ë²ˆ,ì „ìš©ë©´ì,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,target,is_test,ì£¼ì†Œ,...,ê°•ë‚¨ì—¬ë¶€,ì‹ ì¶•ì—¬ë¶€,ê±´ì¶•ë©´ì,ì—°ë©´ì,ëŒ€ì§€ë©´ì,ê±´íìœ¨,ìš©ì ìœ¨,í‰ê· ì¸µìˆ˜,ê³„ì•½ë…„ì›”,ê¸°ì¤€ê¸ˆë¦¬
1129190,658-1,658,1,79.970000,26,5,1987,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,1,0,4551.330000,22305.930000,171357.334166,297.555783,3143.834230,4.900970,20237,NaN
1129191,651-1,651,1,108.201700,15,10,2021,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 651-1,...,1,1,2706.031700,31893.018900,164240.992757,297.402886,3140.519263,11.785900,20238,NaN
1129192,652,652,0,161.000000,28,15,1984,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 652,...,1,0,4484.940000,61999.080000,183006.694768,299.033944,3163.697455,13.823837,20237,NaN
1129193,652,652,0,133.460000,10,14,1984,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 652,...,1,0,4484.940000,61999.080000,183006.694768,299.033944,3163.697455,13.823837,20238,NaN
1129194,652,652,0,104.430000,18,6,1984,NaN,1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 652,...,1,0,4484.940000,61999.080000,183006.694768,299.033944,3163.697455,13.823837,20238,NaN

In [ ]:
# concat_temp['ì—°ë©´ì '].describe()

In [143]:
# í‰í˜•ë³„ë¡œ ì´ˆì†Œí˜•, ì†Œí˜•, ì¤‘í˜•, ëŒ€í˜•ìœ¼ë¡œ ë¶„ë¥˜

bins = [0, 26, 50, 60, 85, 135, float('inf')]
labels = [0, 1, 2, 3, 4, 5]

concat['ë©´ì ë¶„ë¥˜'] = pd.cut(concat['ì „ìš©ë©´ì '], bins=bins, labels=labels, right=False)

In [63]:
# concat['original_index'] = concat.index

concat['ê³„ì•½ë‚ ì§œ'] = concat['ê³„ì•½ë…„'].astype(str) + '-' + concat['ê³„ì•½ì›”'].astype(str) + '-' + concat['ê³„ì•½ì¼'].astype(str)

concat['ê³„ì•½ë‚ ì§œ'] = pd.to_datetime(concat['ê³„ì•½ë‚ ì§œ'])
concat.set_index('ê³„ì•½ë‚ ì§œ', inplace=True)

daily_trades = concat.groupby(concat.index).size()

# ì´ë™í‰ê·  ë§Œë“¤ê¸°

concat['3mì´ë™í‰ê· '] = concat['target'].resample('D').mean().rolling(window=90).mean()
concat['12mì´ë™í‰ê· '] = concat['target'].resample('D').mean().rolling(window=360).mean()
concat['48mì´ë™í‰ê· '] = concat['target'].resample('D').mean().rolling(window=1440).mean()

# ì¼ë³„ê±°ë˜ëŸ‰ ë°ì´í„° ë§Œë“¤ê¸°

day_t = pd.DataFrame(daily_trades, columns=['trades'])

day_t['30d_trades'] = day_t['trades'].rolling(window=30).sum()

concat['30d_trades'] = concat.index.map(day_t['30d_trades'])
concat['day_trades'] = concat.index.map(day_t['trades'])

# concat.head()
concat.reset_index(inplace=True)
concat.drop(columns='ê³„ì•½ë‚ ì§œ', inplace=True)

In [ ]:
# con_temp = concat[concat['is_test'] == 1]
# con_temp.head(10)

In [74]:
concat.head()

,ë²ˆì§€,ë³¸ë²ˆ,ë¶€ë²ˆ,ì „ìš©ë©´ì,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,target,is_test,ì£¼ì†Œ,...,ì—°ë©´ì,ëŒ€ì§€ë©´ì,ê±´íìœ¨,ìš©ì ìœ¨,í‰ê· ì¸µìˆ˜,ê³„ì•½ë…„ì›”,ê¸°ì¤€ê¸ˆë¦¬,ë©´ì ë¶„ë¥˜,30d_trades,day_trades
0,658-1,658,1,79.970000,8,3,1987,124000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,22305.930000,171357.334166,297.555783,3143.834230,4.900970,201712,1.500000,3,8123.000000,287
1,658-1,658,1,79.970000,22,4,1987,123500.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,22305.930000,171357.334166,297.555783,3143.834230,4.900970,201712,1.500000,3,8100.000000,291
2,658-1,658,1,54.980000,28,5,1987,91500.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,22305.930000,171357.334166,297.555783,3143.834230,4.900970,201712,1.500000,2,8225.000000,294
3,658-1,658,1,79.970000,3,4,1987,130000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,22305.930000,171357.334166,297.555783,3143.834230,4.900970,20181,NaN,3,8016.000000,298
4,658-1,658,1,79.970000,8,2,1987,117000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,22305.930000,171357.334166,297.555783,3143.834230,4.900970,20181,NaN,3,8423.000000,437

In [ ]:
# #1ì¼ í‰ê· ê°€ê²©

# daily_price = concat.groupby(concat.index)['target'].mean()

# concat['day_price'] = concat.index.map(daily_price)

# #ì›” í‰ê· ê°€ê²©
# monthly_price = concat.groupby('ê³„ì•½ë…„ì›”')['target'].mean()

# concat['month_price'] = concat['ê³„ì•½ë…„ì›”'].map(monthly_price)

# concat.head()

In [ ]:
# #ì‘ë…„ ë™ì›” ê¸°ì¤€ ë³€í™”ëŸ‰

# monthly_avg = concat.groupby('ê³„ì•½ë…„ì›”')['target'].mean()

# monthly_per = (monthly_avg - monthly_avg.shift(12)) / monthly_avg.shift(12) * 100

# concat['ì‘ë…„ë™ì›”ë³€í™”ëŸ‰'] = concat['ê³„ì•½ë…„ì›”'].map(monthly_per)

# #ì§€ë‚œë‹¬ ê¸°ì¤€ ë³€í™”ëŸ‰

# monthly_avg = concat.groupby('ê³„ì•½ë…„ì›”')['target'].mean()

# month_diff = (monthly_avg - monthly_avg.shift(1)) / monthly_avg.shift(1) * 100

# concat['ì§€ë‚œë‹¬ë³€í™”ëŸ‰'] = concat['ê³„ì•½ë…„ì›”'].map(month_diff)

In [144]:
str_columns = ['ì£¼ì†Œ', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ê±°ë˜ì·¨ì†Œì—¬ë¶€', 'êµ¬', 'ë™', 'ê°•ë‚¨ì—¬ë¶€', 'ì‹ ì¶•ì—¬ë¶€']

concat[str_columns] = concat[str_columns].astype(str)

In [145]:
# ë¨¼ì €, ì—°ì†í˜• ë³€ìˆ˜ì™€ ë²”ì£¼í˜• ë³€ìˆ˜ë¥¼ ìœ„ infoì— ë”°ë¼ ë¶„ë¦¬í•´ì£¼ê² ìŠµë‹ˆë‹¤.
continuous_columns = []
categorical_columns = []

for column in concat.columns:
    if pd.api.types.is_numeric_dtype(concat[column]):
        continuous_columns.append(column)
    else:
        categorical_columns.append(column)

print("ì—°ì†í˜• ë³€ìˆ˜:", continuous_columns)
print("ë²”ì£¼í˜• ë³€ìˆ˜:", categorical_columns)

ì—°ì†í˜• ë³€ìˆ˜: ['ì „ìš©ë©´ì ', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'target', 'is_test', 'x', 'y', 'ê³„ì•½ë…„', 'ê³„ì•½ì›”', 'ê±°ë˜ì¼ê±´ë¬¼ì—°ì‹', 'ê±´ì¶•ë©´ì ', 'ì—°ë©´ì ', 'ëŒ€ì§€ë©´ì ', 'ê±´íìœ¨', 'ìš©ì ìœ¨', 'í‰ê· ì¸µìˆ˜']
ë²”ì£¼í˜• ë³€ìˆ˜: ['ë²ˆì§€', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ì£¼ì†Œ', 'ê±°ë˜ì·¨ì†Œì—¬ë¶€', 'êµ¬', 'ë™', 'ê°•ë‚¨ì—¬ë¶€', 'ì‹ ì¶•ì—¬ë¶€', 'ë©´ì ë¶„ë¥˜']

- ì—°ì†í˜• ë³€ìˆ˜ì™€ ë²”ì£¼í˜• ë³€ìˆ˜ê°€ ì•Œë§ê²Œ ë‚˜ëˆ„ì–´ì¡ŒëŠ”ì§€ í™•ì¸í•´ë³´ê³ , ì´ì œ ê°ê° ë³´ê°„ì„ ì§„í–‰í•©ë‹ˆë‹¤.

In [7]:
# # ë²”ì£¼í˜• ë³€ìˆ˜ì— ëŒ€í•œ ë³´ê°„
# concat[categorical_columns] = concat[categorical_columns].fillna('NULL')

# # ì—°ì†í˜• ë³€ìˆ˜ì— ëŒ€í•œ ë³´ê°„ (ì„ í˜• ë³´ê°„)
# concat[continuous_columns] = concat[continuous_columns].interpolate(method='linear', axis=0)

In [ ]:
concat.isnull().sum()         # ê²°ì¸¡ì¹˜ê°€ ë³´ê°„ëœ ëª¨ìŠµì„ í™•ì¸í•´ë´…ë‹ˆë‹¤.

In [10]:
concat.columns

Index(['ë²ˆì§€', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ì „ìš©ë©´ì ', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'target', 'is_test', 'ì£¼ì†Œ',
       'x', 'y', 'ê³„ì•½ë…„', 'ê³„ì•½ì›”', 'ê±°ë˜ì·¨ì†Œì—¬ë¶€', 'ê±°ë˜ì¼ê±´ë¬¼ì—°ì‹', 'êµ¬', 'ë™', 'ê°•ë‚¨ì—¬ë¶€', 'ì‹ ì¶•ì—¬ë¶€',
       'ê±´ì¶•ë©´ì ', 'ì—°ë©´ì ', 'ëŒ€ì§€ë©´ì ', 'ê±´íìœ¨', 'ìš©ì ìœ¨', 'í‰ê· ì¸µìˆ˜', 'ê³„ì•½ë…„ì›”', 'ê¸°ì¤€ê¸ˆë¦¬', 'ë©´ì ë¶„ë¥˜'],
      dtype='object')

In [ ]:
# ì´ìƒì¹˜ ì œê±° ì´ì „ì˜ shapeì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤.
print(concat.shape)

ì—°ì†í˜• ë³€ìˆ˜: ['ì „ìš©ë©´ì ', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'target', 'x', 'y', 'ê³„ì•½ë…„', 'ê³„ì•½ì›”', 'ê±°ë˜ì¼ê±´ë¬¼ì—°ì‹', 'ê±´ì¶•ë©´ì ', 'ì—°ë©´ì ', 'ëŒ€ì§€ë©´ì ', 'ê±´íìœ¨', 'ìš©ì ìœ¨', 'í‰ê· ì¸µìˆ˜', 'ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬', 'ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬']
ë²”ì£¼í˜• ë³€ìˆ˜: ['ë²ˆì§€', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ì£¼ì†Œ', 'ê±°ë˜ì·¨ì†Œì—¬ë¶€', 'êµ¬', 'ë™', 'ê°•ë‚¨ì—¬ë¶€', 'ì‹ ì¶•ì—¬ë¶€']

In [ ]:
# ëŒ€í‘œì ì¸ ì—°ì†í˜• ë³€ìˆ˜ì¸ â€œì „ìš© ë©´ì â€ ë³€ìˆ˜ ê´€ë ¨í•œ ë¶„í¬ë¥¼ ë¨¼ì € ì‚´í´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
fig = plt.figure(figsize=(7, 3))
sns.boxplot(data = concat, x = 'ê±´íìœ¨', color='lightgreen')
plt.title('ê±´íìœ¨')
plt.xlabel('Area')
plt.show()

print(concat['ì—°ë©´ì '].describe())

In [ ]:
# ëŒ€í‘œì ì¸ ì—°ì†í˜• ë³€ìˆ˜ì¸ â€œì „ìš© ë©´ì â€ ë³€ìˆ˜ ê´€ë ¨í•œ ë¶„í¬ë¥¼ ë¨¼ì € ì‚´í´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
fig = plt.figure(figsize=(7, 3))
sns.boxplot(data = concat, x = 'ê±´ì¶•ë…„ë„', color='lightgreen')
plt.title('ê±´ì¶•ë…„ë„ ë¶„í¬')
plt.xlabel('Area')
plt.show()

In [ ]:
# ëŒ€í‘œì ì¸ ì—°ì†í˜• ë³€ìˆ˜ì¸ â€œì „ìš© ë©´ì â€ ë³€ìˆ˜ ê´€ë ¨í•œ ë¶„í¬ë¥¼ ë¨¼ì € ì‚´í´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
fig = plt.figure(figsize=(7, 3))
sns.boxplot(data = concat, x = 'ê³„ì•½ë…„', color='lightgreen')
plt.title('ì „ìš©ë©´ì  ë¶„í¬')
plt.xlabel('Area')
plt.show()

In [ ]:
# ëŒ€í‘œì ì¸ ì—°ì†í˜• ë³€ìˆ˜ì¸ â€œì „ìš© ë©´ì â€ ë³€ìˆ˜ ê´€ë ¨í•œ ë¶„í¬ë¥¼ ë¨¼ì € ì‚´í´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
fig = plt.figure(figsize=(7, 3))
sns.boxplot(data = concat, x = 'ì „ìš©ë©´ì ', color='lightgreen')
plt.title('ì „ìš©ë©´ì  ë¶„í¬')
plt.xlabel('Area')
plt.show()

In [ ]:
# concat.columns

In [ ]:
# concat['ì¸µ'].describe()

In [146]:
# ì´ìƒì¹˜ ì œê±° ë°©ë²•ì—ëŠ” IQRì„ ì´ìš©í•˜ê² ìŠµë‹ˆë‹¤.
def remove_outliers_iqr(dt, column_name):
    df = dt.query('is_test == 0')    # train data ë‚´ì— ìˆëŠ” ì´ìƒì¹˜ë§Œ ì œê±°í•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
    df_test = dt.query('is_test == 1')

    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    df = df[(df[column_name] >= lower_bound) & (df[column_name] <= upper_bound)]

    result = pd.concat([df, df_test])   # test dataì™€ ë‹¤ì‹œ í•©ì³ì£¼ê² ìŠµë‹ˆë‹¤.
    return result

#### ê²°ì¸¡ì¹˜ ì²˜ë¦¬

In [147]:
# testì™€ train ë¶„ë¦¬
df = concat.query('is_test == 0')  
df_test = concat.query('is_test == 1')  

# ì „ìš©ë©´ì  375 ì´ìƒì¸ ê²ƒë“¤ì€ ì œê±°
df= df[df['ì „ìš©ë©´ì '] < 375]

# ì¸µ ìŒìˆ˜ ì²˜ë¦¬
df['ì¸µ'] = df['ì¸µ'].apply(lambda x: 1 if x < 0 else x)
df_test['ì¸µ'] = df_test['ì¸µ'].apply(lambda x: 1 if x < 0 else x)

# ê±´ì¶•ë…„ë„ 1975ë…„ë„ ì´í›„ì— ì§€ì–´ì§„ê²ƒë§Œ ì²˜ë¦¬
df= df[df['ê±´ì¶•ë…„ë„'] > 1975]

# ê±°ë˜ì¼ ê±´ë¬¼ ì—°ì‹ ìŒìˆ˜ ì²˜ë¦¬
df= df[df['ê±°ë˜ì¼ê±´ë¬¼ì—°ì‹'] > 0]
concat_select = pd.concat([df, df_test])

In [16]:
# ìœ„ ë°©ë²•ìœ¼ë¡œ ì „ìš© ë©´ì ì— ëŒ€í•œ ì´ìƒì¹˜ë¥¼ ì œê±°í•´ë³´ê² ìŠµë‹ˆë‹¤.
#concat_select = remove_outliers_iqr(concat, 'ì „ìš©ë©´ì ')

In [ ]:
concat_select['is_test'].value_counts()     # ë˜í•œ, train dataë§Œ ì œê±°ë˜ì—ˆìŠµë‹ˆë‹¤.

In [ ]:
concat_select.info()       # ìµœì¢… ë°ì´í„°ì…‹ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤.

- ì´ì œ ìœ„ì—ì„œ ë§Œë“  íŒŒìƒë³€ìˆ˜ë“¤ê³¼ ì •ì œí•œ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ë³¸ê²©ì ìœ¼ë¡œ ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ëª¨ë¸ë§ì„ ì§„í–‰í•˜ê² ìŠµë‹ˆë‹¤.
- ëª¨ë¸ë§ì—ëŠ” `sklearn`ì˜ `RandomForest`ë¥¼ ì´ìš©í•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

- ì°¸ê³  âœ…
  - `RandomForest`ëŠ” ë°°ê¹…(Bagging)ì˜ ì¼ì¢…ìœ¼ë¡œ, í•™ìŠµì‹œí‚¤ëŠ” ë°ì´í„° ë¿ ì•„ë‹ˆë¼ íŠ¹ì„±ë³€ìˆ˜(X)ë“¤ë„ ë¬´ì‘ìœ„ë¡œ ì„ íƒí•´ íŠ¸ë¦¬ë¥¼ ìƒì„±í•˜ëŠ” ë°©ë²•ì…ë‹ˆë‹¤.
  - ëª¨ë¸ í•™ìŠµ ê³¼ì •ì—ì„œ ì„œë¡œ ë‹¤ë¥¸ Nê°œì˜ Tree ìƒì„±í•˜ê³ , Nê°œì˜ Treeì—ì„œ ë°œìƒí•œ Outputì„ Voting(ë²”ì£¼í˜•, ë¶„ë¥˜ë¬¸ì œ)í•˜ê±°ë‚˜, Average(ì—°ì†í˜•, íšŒê·€ë¬¸ì œ)í•´ ìµœì¢… Output ìƒì„±í•©ë‹ˆë‹¤.
  - ì´ëŠ” High variance, Low bias ìƒí™©ì—ì„œ ë¶„ì‚°(Variance) ê°ì†Œì— ë„ì›€ì„ ì¤ë‹ˆë‹¤.

### ëŒ€ì¤‘êµí†µ íŒŒìƒë³€ìˆ˜ ìƒì„±

In [34]:
from math import radians, sin, cos, sqrt, atan2

# í•˜ë²„ì‚¬ì¸ ê³µì‹ìœ¼ë¡œ ë‘ ì§€ë¦¬ì  ì¢Œí‘œ ê°„ì˜ ê±°ë¦¬ë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜
def haversine_np(lon1, lat1, lon2, lat2):
    R = 6371  # ì§€êµ¬ ë°˜ê²½ (í‚¬ë¡œë¯¸í„°)
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = R * c
    return distance
subway_path = pd.read_csv('../data/subway_feature.csv')
bus_path = pd.read_csv('../data/bus_feature.csv')
# concat_select ì¢Œí‘œì™€ subway_path ì¢Œí‘œë¥¼ numpy ë°°ì—´ë¡œ ë³€í™˜
concat_coords = np.array([concat_select['x'], concat_select['y']]).T
subway_coords = np.array([subway_path['ê²½ë„'], subway_path['ìœ„ë„']]).T
bus_coords = np.array([bus_path['Xì¢Œí‘œ'], bus_path['Yì¢Œí‘œ']]).T
# ë¹ˆ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“¤ì–´ì„œ ìµœë‹¨ ê±°ë¦¬ë¥¼ ì €ì¥í•  ê²ƒì„
shortest_distances_subway = []
shortest_distances_bus = []
# ë²¡í„° ì—°ì‚°ì„ ì‚¬ìš©í•˜ì—¬ ê°€ì¥ ê°€ê¹Œìš´ ì§€í•˜ì²  ê±°ë¦¬ ì°¾ê¸°
for i, concat_coord in tqdm(enumerate(concat_coords), total=len(concat_coords)):
    distances = haversine_np(concat_coord[0], concat_coord[1], subway_coords[:, 0], subway_coords[:, 1])
    min_distance = np.min(distances)
    shortest_distances_subway.append(min_distance)
# ë²¡í„° ì—°ì‚°ì„ ì‚¬ìš©í•˜ì—¬ ê°€ì¥ ê°€ê¹Œìš´ ë²„ìŠ¤ ê±°ë¦¬ ì°¾ê¸°
for i, concat_coord in tqdm(enumerate(concat_coords), total=len(concat_coords)):
    distances = haversine_np(concat_coord[0], concat_coord[1], bus_coords[:, 0], bus_coords[:, 1])
    min_distance = np.min(distances)
    shortest_distances_bus.append(min_distance)
# concat_selectì— ìµœë‹¨ ê±°ë¦¬ë¥¼ ì¶”ê°€
concat_select['ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬'] = shortest_distances_subway
concat_select['ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬'] = shortest_distances_bus
concat_select['ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬'].describe()

#ê±°ë¦¬ë³„ ê°€ì¤‘ì¹˜ ë¶€ì—¬
concat_select['ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬'] = concat_select['ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬'].apply(lambda x: 3 if 0 < x < 0.3 else (2 if 0.3 < x < 0.65 else(1 if 0.65<x<1.0 else 0) ))
concat_select['ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬'] = concat_select['ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬'].apply(lambda x: 2 if 0 < x < 0.5 else (1 if 0.5 < x < 1 else 0))


#10ë¶„ ì´ë‚´ë¡œ

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1096992/1096992 [01:13<00:00, 14944.88it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1096992/1096992 [11:01<00:00, 1657.54it/s]

In [148]:
# cong = concat_select
concat_select['ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬'] = cong['ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬']
concat_select['ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬'] = cong['ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬']
concat_select.head()

,ë²ˆì§€,ë³¸ë²ˆ,ë¶€ë²ˆ,ì „ìš©ë©´ì,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,target,is_test,ì£¼ì†Œ,...,ì‹ ì¶•ì—¬ë¶€,ê±´ì¶•ë©´ì,ì—°ë©´ì,ëŒ€ì§€ë©´ì,ê±´íìœ¨,ìš©ì ìœ¨,í‰ê· ì¸µìˆ˜,ë©´ì ë¶„ë¥˜,ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬,ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬
0,658-1,658,1,79.970000,8,3,1987,124000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,0,4551.330000,22305.930000,171357.334166,297.555783,3143.834230,4.900970,3,0,2
1,658-1,658,1,79.970000,22,4,1987,123500.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,0,4551.330000,22305.930000,171357.334166,297.555783,3143.834230,4.900970,3,0,2
2,658-1,658,1,54.980000,28,5,1987,91500.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,0,4551.330000,22305.930000,171357.334166,297.555783,3143.834230,4.900970,2,0,2
3,658-1,658,1,79.970000,3,4,1987,130000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,0,4551.330000,22305.930000,171357.334166,297.555783,3143.834230,4.900970,3,0,2
4,658-1,658,1,79.970000,8,2,1987,117000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,0,4551.330000,22305.930000,171357.334166,297.555783,3143.834230,4.900970,3,0,2

In [149]:
# í•™êµì™€ ê±°ë¦¬ êµ¬í•˜ê¸°
school_path = pd.read_csv('./data/á„á…¥á†¼á„Œá…®á„ƒá…¢á„’á…¡á†¨á„€á…­_á„Œá…µá„‡á…¡á†¼á„€á…­á„‹á…²á†¨á„Œá…¢á„Œá…¥á†¼á„‹á…§á†«á„€á…®á„‹á…¯á†«_á„á…©á„Œá…®á†¼á„ƒá…³á†¼á„’á…¡á†¨á„€á…­á„‹á…±á„á…µ_20240322.csv', encoding='EUC-KR')

h_school = school_path[school_path['í•™êµê¸‰êµ¬ë¶„'] == 'ê³ ë“±í•™êµ']
m_school = school_path[school_path['í•™êµê¸‰êµ¬ë¶„'] == 'ì¤‘í•™êµ']
p_school = school_path[school_path['í•™êµê¸‰êµ¬ë¶„'] == 'ì´ˆë“±í•™êµ']

h_school_coords = np.array([h_school['ê²½ë„'], h_school['ìœ„ë„']]).T
m_school_coords = np.array([m_school['ê²½ë„'], m_school['ìœ„ë„']]).T
p_school_coords = np.array([p_school['ê²½ë„'], p_school['ìœ„ë„']]).T

# ë¹ˆ ë¦¬ìŠ¤íŠ¸ë¥¼ ë§Œë“¤ì–´ì„œ ìµœë‹¨ ê±°ë¦¬ë¥¼ ì €ì¥í•  ê²ƒì„
shortest_distances_h_school = []
shortest_distances_m_school = []
shortest_distances_p_school = []

for i, concat_coord in tqdm(enumerate(concat_coords), total=len(concat_coords)):
    distances = haversine_np(concat_coord[0], concat_coord[1], h_school_coords[:, 0], h_school_coords[:, 1])
    min_distance1 = np.min(distances)
    shortest_distances_h_school.append(min_distance1)

for i, concat_coord in tqdm(enumerate(concat_coords), total=len(concat_coords)):
    distances = haversine_np(concat_coord[0], concat_coord[1], m_school_coords[:, 0], m_school_coords[:, 1])
    min_distance2 = np.min(distances)
    shortest_distances_m_school.append(min_distance2)

for i, concat_coord in tqdm(enumerate(concat_coords), total=len(concat_coords)):
    distances = haversine_np(concat_coord[0], concat_coord[1], p_school_coords[:, 0], p_school_coords[:, 1])
    min_distance3 = np.min(distances)
    shortest_distances_p_school.append(min_distance3)

concat_select['ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = shortest_distances_h_school
concat_select['ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = shortest_distances_m_school
concat_select['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬'] = shortest_distances_p_school

concat_select['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬'] = concat_select['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬'].apply(lambda x: 3 if 0 < x < 0.5 else (2 if 0.5 < x < 1.0 else(1 if 1.0<x<1.5 else 0) ))
concat_select['ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = concat_select['ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬'].apply(lambda x: 3 if 0 < x < 0.5 else (2 if 0.5 < x < 1.0 else(1 if 1.0<x<1.5 else 0) ))
concat_select['ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = concat_select['ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬'].apply(lambda x: 3 if 0 < x < 0.5 else (2 if 0.5 < x < 1.0 else(1 if 1.0<x<1.5 else 0) ))

concat_select.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1096992/1096992 [02:34<00:00, 7085.36it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1096992/1096992 [03:19<00:00, 5502.39it/s]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1096992/1096992 [05:50<00:00, 3126.76it/s]

,ë²ˆì§€,ë³¸ë²ˆ,ë¶€ë²ˆ,ì „ìš©ë©´ì,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,target,is_test,ì£¼ì†Œ,...,ëŒ€ì§€ë©´ì,ê±´íìœ¨,ìš©ì ìœ¨,í‰ê· ì¸µìˆ˜,ë©´ì ë¶„ë¥˜,ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬,ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬,ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬,ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬,ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬
0,658-1,658,1,79.970000,8,3,1987,124000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,171357.334166,297.555783,3143.834230,4.900970,3,0,2,3,1,3
1,658-1,658,1,79.970000,22,4,1987,123500.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,171357.334166,297.555783,3143.834230,4.900970,3,0,2,3,1,3
2,658-1,658,1,54.980000,28,5,1987,91500.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,171357.334166,297.555783,3143.834230,4.900970,2,0,2,3,1,3
3,658-1,658,1,79.970000,3,4,1987,130000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,171357.334166,297.555783,3143.834230,4.900970,3,0,2,3,1,3
4,658-1,658,1,79.970000,8,2,1987,117000.000000,0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™ 658-1,...,171357.334166,297.555783,3143.834230,4.900970,3,0,2,3,1,3

In [150]:
aa11 = concat_select

In [ ]:
[aa11['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬']]

In [129]:
concat_select['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬'].describe()

count   1096992.000000
mean          2.854883
std           0.357368
min           0.000000
25%           3.000000
50%           3.000000
75%           3.000000
max           3.000000
Name: ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬, dtype: float64

In [130]:
# cons = concat_select

# concat_select['ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = cons['ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬']
# concat_select['ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = cons['ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬']
# concat_select['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬'] = cons['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬']



concat_select['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬'] = concat_select['ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬'].apply(lambda x: 3 if 0 < x < 0.5 else (2 if 0.5 < x < 1.0 else 0))
concat_select['ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = concat_select['ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬'].apply(lambda x: 3 if 0 < x < 0.5 else (2 if 0.5 < x < 1.0 else(1 if 1.0<x<1.5 else 0) ))
concat_select['ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬'] = concat_select['ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬'].apply(lambda x: 3 if 0 < x < 0.5 else (2 if 0.5 < x < 1.0 else(1 if 1.0<x<1.5 else 0) ))

In [131]:
concat_select.isnull().sum()

ë²ˆì§€             0
ë³¸ë²ˆ             0
ë¶€ë²ˆ             0
ì „ìš©ë©´ì            0
ê³„ì•½ì¼            0
ì¸µ              0
ê±´ì¶•ë…„ë„           0
target      9272
is_test        0
ì£¼ì†Œ             0
x              0
y              0
ê³„ì•½ë…„            0
ê³„ì•½ì›”            0
ê±°ë˜ì·¨ì†Œì—¬ë¶€         0
ê±°ë˜ì¼ê±´ë¬¼ì—°ì‹        0
êµ¬              0
ë™              0
ê°•ë‚¨ì—¬ë¶€           0
ì‹ ì¶•ì—¬ë¶€           0
ê±´ì¶•ë©´ì            0
ì—°ë©´ì             0
ëŒ€ì§€ë©´ì            0
ê±´íìœ¨            0
ìš©ì ìœ¨            0
í‰ê· ì¸µìˆ˜           0
ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬        0
ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬         0
ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬       0
ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬       0
ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬       0
dtype: int64

In [175]:
str_col = ['ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬', 'ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬', 'ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬', 'ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬', 'ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬']

concat_select[str_col] = concat_select[str_col].astype(str)

In [176]:
# ì´ì œ ë‹¤ì‹œ trainê³¼ test datasetì„ ë¶„í• í•´ì¤ë‹ˆë‹¤. ìœ„ì—ì„œ ì œì‘í•´ ë†“ì•˜ë˜ is_test ì¹¼ëŸ¼ì„ ì´ìš©í•©ë‹ˆë‹¤.
dt_train = concat_select.query('is_test==0')
dt_test = concat_select.query('is_test==1')

# ì´ì œ is_test ì¹¼ëŸ¼ì€ dropí•´ì¤ë‹ˆë‹¤.
dt_train.drop(['is_test'], axis = 1, inplace=True)
dt_test.drop(['is_test'], axis = 1, inplace=True)
print(dt_train.shape, dt_test.shape)

# dt_testì˜ targetì€ ì¼ë‹¨ 0ìœ¼ë¡œ ì„ì˜ë¡œ ì±„ì›Œì£¼ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
dt_test['target'] = 0

(1087720, 31) (9272, 31)

### 5.1. ë²”ì£¼í˜• ë³€ìˆ˜ Encoding
- ë²”ì£¼í˜• ë³€ìˆ˜ëŠ” ê·¸ëŒ€ë¡œ ëª¨ë¸ì— íˆ¬ì…í•˜ë©´, ëª¨ë¸ì´ ì œëŒ€ë¡œ ì‘ë™í•  ìˆ˜ ì—†ìŠµë‹ˆë‹¤.
- ë”°ë¼ì„œ **ë ˆì´ë¸” ì¸ì½”ë”© ê³¼ì •**ì„ í†µí•´ ë²”ì£¼í˜• ë³€ìˆ˜ë“¤ì„ numericí•˜ê²Œ ë°”ê¾¸ëŠ” ì¸ì½”ë”© ê³¼ì •ì„ ì§„í–‰í•´ì£¼ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [152]:
# íŒŒìƒë³€ìˆ˜ ì œì‘ìœ¼ë¡œ ì¶”ê°€ëœ ë³€ìˆ˜ë“¤ì´ ì¡´ì¬í•˜ê¸°ì—, ë‹¤ì‹œí•œë²ˆ ì—°ì†í˜•ê³¼ ë²”ì£¼í˜• ì¹¼ëŸ¼ì„ ë¶„ë¦¬í•´ì£¼ê² ìŠµë‹ˆë‹¤.
continuous_columns_v2 = []
categorical_columns_v2 = []

for column in dt_train.columns:
    if pd.api.types.is_numeric_dtype(dt_train[column]):
        continuous_columns_v2.append(column)
    else:
        categorical_columns_v2.append(column)

print("ì—°ì†í˜• ë³€ìˆ˜:", continuous_columns_v2)
print("ë²”ì£¼í˜• ë³€ìˆ˜:", categorical_columns_v2)

# ì•„ë˜ì—ì„œ ë²”ì£¼í˜• ë³€ìˆ˜ë“¤ì„ ëŒ€ìƒìœ¼ë¡œ ë ˆì´ë¸”ì¸ì½”ë”©ì„ ì§„í–‰í•´ ì£¼ê² ìŠµë‹ˆë‹¤.

# ê° ë³€ìˆ˜ì— ëŒ€í•œ LabelEncoderë¥¼ ì €ì¥í•  ë”•ì…”ë„ˆë¦¬
label_encoders = {}

# Implement Label Encoding
for col in tqdm( categorical_columns ):
    lbl = LabelEncoder()

    # Label-Encodingì„ fit
    lbl.fit( dt_train[col].astype(str) )
    dt_train[col] = lbl.transform(dt_train[col].astype(str))
    label_encoders[col] = lbl           # ë‚˜ì¤‘ì— í›„ì²˜ë¦¬ë¥¼ ìœ„í•´ ë ˆì´ë¸”ì¸ì½”ë”ë¥¼ ì €ì¥í•´ì£¼ê² ìŠµë‹ˆë‹¤.

    # Test ë°ì´í„°ì—ë§Œ ì¡´ì¬í•˜ëŠ” ìƒˆë¡œ ì¶œí˜„í•œ ë°ì´í„°ë¥¼ ì‹ ê·œ í´ë˜ìŠ¤ë¡œ ì¶”ê°€í•´ì¤ë‹ˆë‹¤.
    for label in np.unique(dt_test[col]):
      if label not in lbl.classes_: # unseen label ë°ì´í„°ì¸ ê²½ìš°
        lbl.classes_ = np.append(lbl.classes_, label) # ë¯¸ì²˜ë¦¬ ì‹œ ValueErrorë°œìƒí•˜ë‹ˆ ì£¼ì˜í•˜ì„¸ìš”!

    dt_test[col] = lbl.transform(dt_test[col].astype(str))

ì—°ì†í˜• ë³€ìˆ˜: ['ì „ìš©ë©´ì ', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'target', 'x', 'y', 'ê³„ì•½ë…„', 'ê³„ì•½ì›”', 'ê±°ë˜ì¼ê±´ë¬¼ì—°ì‹', 'ê±´ì¶•ë©´ì ', 'ì—°ë©´ì ', 'ëŒ€ì§€ë©´ì ', 'ê±´íìœ¨', 'ìš©ì ìœ¨', 'í‰ê· ì¸µìˆ˜', 'ì§€í•˜ì² ìµœë‹¨ê±°ë¦¬', 'ë²„ìŠ¤ìµœë‹¨ê±°ë¦¬', 'ê³ ë“±í•™êµìµœë‹¨ê±°ë¦¬', 'ì¤‘ë“±í•™êµìµœë‹¨ê±°ë¦¬', 'ì´ˆë“±í•™êµìµœë‹¨ê±°ë¦¬']
ë²”ì£¼í˜• ë³€ìˆ˜: ['ë²ˆì§€', 'ë³¸ë²ˆ', 'ë¶€ë²ˆ', 'ì£¼ì†Œ', 'ê±°ë˜ì·¨ì†Œì—¬ë¶€', 'êµ¬', 'ë™', 'ê°•ë‚¨ì—¬ë¶€', 'ì‹ ì¶•ì—¬ë¶€', 'ë©´ì ë¶„ë¥˜']

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:02<00:00,  3.44it/s]

In [153]:
dt_train = pd.get_dummies(dt_train, columns=['êµ¬'])
dt_test = pd.get_dummies(dt_test, columns=['êµ¬'])

#### í•„ìš”ì—†ëŠ” ë°ì´í„° ì‚­ì œ

In [154]:
columns_to_delete = ['ë²ˆì§€', 'ë¶€ë²ˆ', 'ë³¸ë²ˆ']

# # ì—´ ì‚­ì œ
dt_train = dt_train.drop(columns=columns_to_delete)
dt_test = dt_test.drop(columns=columns_to_delete)

### ê¸ˆë¦¬ë°ì´í„° ë„£ê¸°

## ë°ì´í„° ë‚˜ëˆ ì„œ ë¨¸ì‹ ëŸ¬ë‹ ëŒë¦¬ê¸°

In [155]:
assert dt_train.shape[1] == dt_test.shape[1]          # train/test datasetì˜ shapeì´ ê°™ì€ì§€ í™•ì¸í•´ì£¼ê² ìŠµë‹ˆë‹¤.

# Targetê³¼ ë…ë¦½ë³€ìˆ˜ë“¤ì„ ë¶„ë¦¬í•´ì¤ë‹ˆë‹¤.
y_train = dt_train['target']
X_train = dt_train.drop(['target'], axis=1)

# Hold out splitì„ ì‚¬ìš©í•´ í•™ìŠµ ë°ì´í„°ì™€ ê²€ì¦ ë°ì´í„°ë¥¼ 8:2 ë¹„ìœ¨ë¡œ ë‚˜ëˆ„ê² ìŠµë‹ˆë‹¤.
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=2023)

In [25]:
# RandomForestRegressorë¥¼ ì´ìš©í•´ íšŒê·€ ëª¨ë¸ì„ ì í•©ì‹œí‚¤ê² ìŠµë‹ˆë‹¤.
#model = RandomForestRegressor(n_estimators=5, criterion='squared_error', random_state=1, n_jobs=-1)
#model.fit(X_train, y_train)
#pred = model.predict(X_val)

In [26]:
#y_val = y_val * X_val['ì „ìš©ë©´ì ']
#pred = pred * X_val['ì „ìš©ë©´ì ']

In [27]:
# íšŒê·€ ê´€ë ¨ metricì„ í†µí•´ train/validì˜ ëª¨ë¸ ì í•© ê²°ê³¼ë¥¼ ê´€ì°°í•©ë‹ˆë‹¤.
#print(f'RMSE test: {np.sqrt(metrics.mean_squared_error(y_val, pred))}')

In [42]:
#  XGBoost ì‚¬ìš©

import xgboost as xgb

In [156]:
model = xgb.XGBRegressor(objective='reg:squarederror', 
                         n_estimators=2000,  
                         learning_rate=0.1,  
                         max_depth=10,
                         random_state=1)


model.fit(X_train, y_train)

pred_2 = model.predict(X_val)

# íšŒê·€ ê´€ë ¨ metricì„ í†µí•´ train/validì˜ ëª¨ë¸ ì í•© ê²°ê³¼ë¥¼ ê´€ì°°í•©ë‹ˆë‹¤.
print(f'RMSE test: {np.sqrt(metrics.mean_squared_error(y_val, pred_2))}')

RMSE test: 5911.546710411913

- ë³€ìˆ˜ ì¤‘ìš”ë„ë„ í™•ì¸í•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [ ]:
xgb.plot_importance(model)
plt.figure(figsize=(10, 100))
plt.show()

In [ ]:
xgb.plot_importance(model, importance_type='total_gain')
plt.show()

In [ ]:
# ìœ„ feature importanceë¥¼ ì‹œê°í™”í•´ë´…ë‹ˆë‹¤.
importances = pd.Series(model.feature_importances_, index=list(X_train.columns))
importances = importances.sort_values(ascending=False)

plt.figure(figsize=(10,8))
plt.title("Feature Importances")
sns.barplot(x=importances, y=importances.index)
plt.show()

In [ ]:
# Permutation importance ë°©ë²•ì„ ë³€ìˆ˜ ì„ íƒì— ì´ìš©í•´ë³´ê² ìŠµë‹ˆë‹¤.
perm = PermutationImportance(model,        # ìœ„ì—ì„œ í•™ìŠµëœ ëª¨ë¸ì„ ì´ìš©í•˜ê² ìŠµë‹ˆë‹¤.
                             scoring = "neg_mean_squared_error",        # í‰ê°€ ì§€í‘œë¡œëŠ” íšŒê·€ë¬¸ì œì´ê¸°ì— negative rmseë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. (neg_mean_squared_error : ìŒì˜ í‰ê·  ì œê³± ì˜¤ì°¨)
                             random_state = 42,
                             n_iter=3).fit(X_val, y_val)
eli5.show_weights(perm, feature_names = X_val.columns.tolist())    # valid dataì— ëŒ€í•´ ì í•©ì‹œí‚µë‹ˆë‹¤.

In [ ]:
eli5.show_weights(perm, feature_names=X_val.columns.tolist(), top=X_val.shape[1])

In [42]:
# í•™ìŠµëœ ëª¨ë¸ì„ ì €ì¥í•©ë‹ˆë‹¤. Pickle ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì´ìš©í•˜ê² ìŠµë‹ˆë‹¤.
with open('saved_model.pkl', 'wb') as f:
    pickle.dump(model, f)

### 5.4. Valid prediction ë¶„ì„

- ì˜ˆì¸¡ê°’ì„ ë¶„ì„í•´ë³´ê¸° ìœ„í•´ valid predictionì„ í™•ì¸í•´ë³´ê² ìŠµë‹ˆë‹¤.

- ì˜ˆì¸¡ì„ ì˜ í•˜ì§€ ëª»í•œ top 100ê°œì˜ ë°ì´í„°ì™€ ì˜ˆì¸¡ì„ ì˜í•œ top 100ê°œì˜ ë°ì´í„°ë¥¼ ë¹„êµí•´ë³´ê² ìŠµë‹ˆë‹¤.

- ì´ì œ ë¶„í¬ë¥¼ ë¹„êµí•´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [34]:

# Validation datasetì— targetê³¼ pred ê°’ì„ ì±„ì›Œì£¼ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.
X_val['target'] = y_val
X_val['pred'] = pred_2

# Squared_errorë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì •ì˜í•˜ê² ìŠµë‹ˆë‹¤.
def calculate_se(target, pred):
    squared_errors = (target - pred) ** 2
    return squared_errors

# RMSE ê³„ì‚°
squared_errors = calculate_se(X_val['target'], X_val['pred'])
X_val['error'] = squared_errors

X_val_sort_top100 = X_val.sort_values(by='error', ascending=False).head(100)        # ì˜ˆì¸¡ì„ ì˜ í•˜ì§€ëª»í•œ top 100ê°œì˜ data
X_val_sort_tail100 = X_val.sort_values(by='error', ascending=False).tail(100)       # ì˜ˆì¸¡ì„ ì˜í•œ top 100ê°œì˜ data

In [ ]:
# í•´ì„ì„ ìœ„í•´ ë ˆì´ë¸”ì¸ì½”ë”© ëœ ë³€ìˆ˜ë¥¼ ë³µì›í•´ì¤ë‹ˆë‹¤.
error_top100 = X_val_sort_top100.copy()
for column in categorical_columns_v2 :     # ì•ì„œ ë ˆì´ë¸” ì¸ì½”ë”©ì—ì„œ ì •ì˜í–ˆë˜ categorical_columns_v2 ë²”ì£¼í˜• ë³€ìˆ˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.
    error_top100[column] = label_encoders[column].inverse_transform(X_val_sort_top100[column])

best_top100 = X_val_sort_tail100.copy()
for column in categorical_columns_v2 :     # ì•ì„œ ë ˆì´ë¸” ì¸ì½”ë”©ì—ì„œ ì •ì˜í–ˆë˜ categorical_columns_v2 ë²”ì£¼í˜• ë³€ìˆ˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.
    best_top100[column] = label_encoders[column].inverse_transform(X_val_sort_tail100[column])

In [37]:
best_top100 = X_val_sort_tail100.copy()
error_top100 = X_val_sort_top100.copy()

In [ ]:
sns.boxplot(data = X_val_sort_top100, x='target')
plt.title('The worst top100 predictionì˜ target ë¶„í¬')
plt.show()

sns.boxplot(data = X_val_sort_tail100, x='target', color='orange')
plt.title('The best top100 predictionì˜ target ë¶„í¬')
plt.show()

- Taget ë¶„í¬ë¥¼ ë³´ë‹ˆ ì¢‹ì€ ì˜ˆì¸¡ì„ ë³´ì¸ top 100ê°œì˜ dataë³´ë‹¤ ìƒëŒ€ì ìœ¼ë¡œ ë‚˜ìœ ì˜ˆì¸¡ì„ ë³´ì¸ top 100 datasetë“¤ì´ ë†’ì€ ê°€ê²©ì„ ë³´ì˜€ìŒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ì— ëŒ€í•œ ëª¨ë¸ë§ ë° ì²˜ë¦¬ê°€ í•„ìš”í•´ë³´ì…ë‹ˆë‹¤.

In [ ]:
sns.histplot(data = error_top100, x='ì „ìš©ë©´ì ', alpha=0.5)
sns.histplot(data = best_top100, x='ì „ìš©ë©´ì ', color='orange', alpha=0.5)
plt.title('ì „ìš©ë©´ì  ë¶„í¬ ë¹„êµ')
plt.show()

- ì „ìš©ë©´ì  ë˜í•œ ë‚˜ìœ ì˜ˆì¸¡ì„ ë³´ì¸ ì§‘ë“¤ì´ ë” ë„“ìŒì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

## 6. Inference

In [ ]:
dt_test.head(2)      # test datasetì— ëŒ€í•œ inferenceë¥¼ ì§„í–‰í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [ ]:
# ì €ì¥ëœ ëª¨ë¸ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.
with open('saved_model.pkl', 'rb') as f:
    model = pickle.load(f)

In [ ]:
%%time
X_test = dt_test.drop(['target'], axis=1)

# Test datasetì— ëŒ€í•œ inferenceë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.

real_test_pred = model.predict(X_test)

#real_test_pred = real_test_pred * dt_test['ì „ìš©ë©´ì '].values

In [ ]:
real_test_pred          # ì˜ˆì¸¡ê°’ë“¤ì´ ì¶œë ¥ë¨ì„ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

## 7. Output File Save

In [19]:
# ì•ì„œ ì˜ˆì¸¡í•œ ì˜ˆì¸¡ê°’ë“¤ì„ ì €ì¥í•©ë‹ˆë‹¤.
preds_df = pd.DataFrame(real_test_pred.astype(int), columns=["target"])
preds_df.to_csv('output_nokumli.csv', index=False)